<template>
  <div>
    <v-row align="left" justify="left">
      <v-col cols="4">
        
        <v-card class="mx-auto" outlined style="border-radius: 25px">
          <v-row align="center" justify="center">
            <v-col class="ml-10 mt-5 pa-0">
              <v-card-text class="subtitle-1 font-weight-bold pa-0"
                >Temp read</v-card-text
              >
            </v-col>
          </v-row>

          <v-row class="pa-0" align="center" justify="center">
            <v-col class="pa-0" align="center">
              <RadialBarTempCharts
                ref="RadialBarTempCharts"
              ></RadialBarTempCharts>
            </v-col>
          </v-row>
        </v-card>

        <v-card class="mx-auto mt-5" outlined style="border-radius: 25px">
          <v-row align="center" justify="center">
            <v-col class="ml-10 mt-5 pa-0">
              <v-card-text class="subtitle-1 font-weight-bold pa-0"
                >Humidity read</v-card-text
              >
            </v-col>
          </v-row>
          <v-row class="pa-0" align="center" justify="center">
            <v-col class="pa-0" align="center">
              <RadialBarHumidityCharts
                ref="RadialBarHumidityCharts"
              ></RadialBarHumidityCharts>
            </v-col>
          </v-row>
          
        </v-card>
           <v-row class="pt-2" align="center" justify="center">
      <v-col align="center" class="pr-0">
            <v-btn   class="subtitle-2 font-weight-bold white--text" color="blue darken-1" width="175px" height="55px" style="border-radius: 10px"> 
              <v-icon class="mr-1" large>mdi-progress-download</v-icon>
              Download </v-btn>
      </v-col>
      <v-col align="center" class="pl-0">
            <v-btn class="subtitle-2 font-weight-bold  white--text" color="orange darken-1" width="175px" height="55px" style="border-radius: 10px">
               <v-icon class="mr-1" large>mdi-database</v-icon>
               Storage </v-btn>
      </v-col>
    </v-row>
      </v-col>
      <v-col cols="8">
        <v-card class="mx-auto"  outlined style="border-radius: 25px">
          <v-container >
          <div id="chart" >
            <apexchart
              type="line"
              height="535px"
              :options="chartOptions"
              :series="series"
            ></apexchart>
          </div>
          </v-container >
        </v-card>
      </v-col>
    </v-row>
 
  </div>
</template>

<script>
import RadialBarHumidityCharts from "@/components/Section2/RadialBar_Humidity_Charts.vue";
import RadialBarTempCharts from "@/components/Section2/RadialBar_Temp_Charts.vue";
export default {
  name: "ListRoom",
  components: {
    RadialBarHumidityCharts,
    RadialBarTempCharts,
  },
  data: () => ({
    series: [
      {
        name: "Website Blog",
        type: "line",
        data: [440, 505, 414, 671, 227, 413, 201, 352, 752, 320, 257, 160],
      },
      {
        name: "Social Media",
        type: "line",
        data: [23, 42, 35, 27, 43, 22, 17, 31, 22, 22, 12, 16],
      },
    ],
    chartOptions: {
      chart: {
        height: 350,
        type: "line",
      },
      stroke: {
        width: [0, 4],
      },
      title: {
        text: "Traffic Sources",
      },
      dataLabels: {
        enabled: true,
        enabledOnSeries: [1],
      },
      labels: [
        "01 Jan 2001",
        "02 Jan 2001",
        "03 Jan 2001",
        "04 Jan 2001",
        "05 Jan 2001",
        "06 Jan 2001",
        "07 Jan 2001",
        "08 Jan 2001",
        "09 Jan 2001",
        "10 Jan 2001",
        "11 Jan 2001",
        "12 Jan 2001",
      ],
      xaxis: {
        type: "datetime",
      },
      yaxis: [
        {
          title: {
            text: "Website Blog",
          },
        },
        {
          opposite: true,
          title: {
            text: "Social Media",
          },
        },
      ],
    },
  }),
};
</script>
<style>
</style>