<template>
  <div>
    <vue-gauge
      :refid="'type-unique-id_Humidity'"
      :options="{
        needleValue: 100,
        arcDelimiters: [39],
        arcColors: ['rgb(255,0,0)', 'lightgray'],
        hasNeedle: false,
        chartWidth: 280,
        arcDelimiters: [30],
        centralLabel: '80%',
      }"
    ></vue-gauge>
  </div>
</template>
<script>
export default {
  name: "RadialBar_Humidity_Charts",
  components: {},
  data: () => ({}),
};
</script>
<style>
.zoomm {
  zoom: 91%;
}
</style>