<template>
  <div>
    <vue-gauge
      :refid="'type-unique-id_Temp'"
      :options="{
        needleValue: 100,
        arcDelimiters: [39],
        arcColors: ['rgb(68, 239, 239)', 'lightgray'],
        hasNeedle: false,
        chartWidth:280,
        arcDelimiters: [30],
        centralLabel: '25 C',
      }"
    ></vue-gauge>
  </div>
</template>
<script>

export default {
  name: "RadialBar_Temp_Charts",

  data: () => ({
        
            
  }),
};
</script>
<style>
</style>