#app {
    font-family: "sukhumvit_setlight";
  }
  
  .title {
    font-family: "sukhumvit_setlight";
  }
  .menu_tb > .v-btn:before {
    background-color: #1d6d7d;
    /* opacity: 0.8; */
  
    font-weight: bold;
  }
  .bg_background {
    background-image: url("../image/background_png.png");
    height: 100%;
    width: 100%;
    background-size: cover;
    background-attachment: fixed;
  }
  .truncate_username_navber {
    max-width: 110px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .button_radius{
    border-radius: 20px;
  }
  .bg_personnel {
    background-color: #f5f5f5;
  }
  .bg_chart {
    background-color: whitesmoke;
  }
  .bg_news {
    background-color: #e3ecee;
  }
  .headnews {
    font-size: 24px;
    color: #1d6d7d;
    font-weight: bold;
    line-height: 36px;
  }
  .head_login {
    background-color: #1d6d7d;
    color: #ffffff;
  }
  .btn_group {
    position: fixed;
    top: 290px;
    right: 0;
    z-index: 998;
  }
  .menu_home{
    z-index: 999;
  }
  
  .bg_meaning {
    /* background-image: url('../../assets/image/bg_meaning2.jpg'); */
    /* background-size: cover;
      background-position: center center; */
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.45) 100%
    );
    border-radius: 0px 242.5px 0px 0px;
    width: 620px;
    min-height: 550px;
  
    /* font-family: 'sukhumvit_setsemi_bold'; */
    /* text-shadow: 2px -8px 4px #ffffff; */
    /* font-size: 22px; */
    /* padding: 10px; */
    /* height: 100%; */
  }
  .btn-navi {
    border: 1px solid gray;
    box-shadow: 5px -5px 10px grey;
  }
  .title_research {
    font-family: "sukhumvit_setsemi_bold";
    font-size: 20px;
  }
  .title_type {
    font-family: "sukhumvit_setsemi_bold";
    font-size: 18px;
    margin-top: 10px;
  }
  .title_meaning {
    font-family: "sukhumvit_setlight";
    font-size: 18px;
    color: #000000;
    line-height: 32px;
     /* overflow: hidden;
     text-overflow: ellipsis;
     display: -webkit-box; 
     -webkit-line-clamp: 1;  */
     /* number of lines to show */
     /* -webkit-box-orient: vertical; */
  
     /* display: block;or inline-block */
    /* text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    max-height: 20em; */
    /* overflow: hidden;
    box-sizing: content-box;
   
    max-lines: 3; */
    /* display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
    overflow: hidden; */
    
   
  
  }
  .top_history {
    color: #332200;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  
    background: linear-gradient(to bottom right, #ffff66 11%, #ff9933 83%);
  }
  /* .bg_course {
      background-image: url("../../assets/image/course2.jpg");
      background-size: cover;
      padding: 40px 0;
      height: 100%;
      background-attachment: fixed;
    } */
  .pic_calendar {
    min-height: 330px;
    min-width: 350px;
    /* border-radius: 0px 301px 0px 0px; */
  }
  /* vision */
  .text_p {
    font-size: 20px;
    color: white;
  }
  .col-bg-vision {
    background-image: url(https://i.pinimg.com/originals/d0/3b/dd/d03bdd70f8b042dfc590237bde046f64.jpg);
    background-position: center top;
    border-radius: 0px 0px 212px 0px;
  }
  .icon-mission-list > .v-list-item__icon:first-child {
    margin-right: 10px;
  }
  .style-popularity-first {
    font-weight: bold;
    font-size: 24px;
    font-style: normal;
    color: #1d6d7d;
    text-shadow: 0px 4px 4px #1d6d7d;
  }
  .header-vision {
    color: #1d6d7d;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-weight: bold;
  }
 

  