<template>
         <div id="chart">
        <apexchart type="bar" height="350" :options="chartOptions" :series="series"></apexchart>
      </div>

    
    
</template>
<script>

export default {
  name: "ColumnCharts",

  data: () => ({
       series: [{
            data: [21, 22, 10, 28, 16, 100]
          }],
          chartOptions: {
            chart: {
              height: 350,
              type: 'bar',
              events: {
                click: function(chart, w, e) {
                  // console.log(chart, w, e)
                }
              }
            },
            colors: ['#3333ff','#ff0000','#ff6600','#00e600','#e600ac','#3399ff'],
            plotOptions: {
              bar: {
                columnWidth: '55%',
                distributed: true
              }
            },
            dataLabels: {
              enabled: false
            },
            legend: {
              show: false
            },
            xaxis: {
              categories: [
                ['Room', 'room335'],
         
              
              ],
              labels: {
                style: {
                  colors: ['black'],
                  fontSize: '12px'
                }
              }
            }
          },
          
          
  }),
};
</script>
<style>
</style>