<template>
  <div class="mt-5" style="margin-bottom: 5%;" >
    <v-container >
    <v-row class="pa-0" align="center" justify="center">
      <v-col class="pa-0">
        <Section1Chart ref="Section1Chart"></Section1Chart>
      </v-col>
    </v-row>
    <v-row class="pa-0" align="center" justify="center">
      <v-col class="pa-0">
        <Section2Chart ref="Section2Chart"></Section2Chart>
      </v-col>
    </v-row>
    <v-row class="pa-0" align="center" justify="center">
      <v-col class="pa-0">
        <Section3tablevalue ref="Section3tablevalue"></Section3tablevalue>
      </v-col>
    </v-row>
  
    </v-container>
  </div>
</template>

<script>
import Section1Chart from "@/components/Section1/MixedCharts_type.vue";
import Section2Chart from "@/components/Section2/MixedCharts.vue";
import Section3tablevalue from "@/components/Section3_table_value.vue";

export default {
  name: "ListRoom",
  components: {
    Section1Chart,
    Section2Chart,
    Section3tablevalue,

  },
  data: () => ({}),
};
</script>
<style>
</style>