<template>
 <v-footer class="footer" style="background-color:#ffffff;" absolute height="57px" >
 <!-- desktop     -->
        <v-card-text  class="pa-0 mb-4 hidden-sm-and-down text-center mt-5 center_text mb-0" justify-center >
          <strong><span class=" pa-0">©2020  — Design and development by Giant Team</span></strong>
        </v-card-text>
    
 <!-- mobile-->
        <v-card-text  class="pa-0 hidden-md-and-up  center_text mb-2" justify-center >
             <strong><span class=" pa-0">©2020  — Design and development by Giant Team</span></strong>
        </v-card-text>
 </v-footer>

 
</template>
<script>
export default {
    data: () => ({

    }),
}
</script>
<style scoped>
.center_text{
  text-align: -webkit-center;
}
.footer {

  left: 0;
  bottom: 0px;
  width: 100%;
  place-content: center;
  border-color: #ffffff;
  text-align: center;
}

</style>