<template>
  <div class="mt-5" style="margin-bottom: 5%;" >

    <v-container >
   <v-row align="center" justify="center">
        <v-col cols="8" class="pa-0">
        </v-col>
        <v-col cols="4" class="pa-0">
            <v-card class="mr-3 mb-5" style="border-radius: 15px" elevation="2" outlined>
        <v-row  class="" align="center" justify="center">
          <v-col class="pa-0 mt-1 mb-1" cols="3" align="right">
            <v-card-title class="ml-4  orange--text font-weight-black">Room</v-card-title>
          </v-col>
          <v-col class="px-10 pa-0 mt-1 mb-1" cols="9" align="right">
            <v-text-field
              v-model="search"
              class="button_radius"
              label="Search room number"
              prepend-inner-icon="mdi-magnify"
              style="border: 1px solid grey"
              flat
              input-no-value-style
              solo
              color="orange"
              hide-details
              clearable
              clear-icon="mdi-close-circle-outline"
            ></v-text-field>
          </v-col>
        </v-row>
      </v-card>
        </v-col>
      </v-row>
    
    </v-container>

    <v-container class="pa-0">
      <!-- <v-card style="border-radius: 10px" elevation="4" outlined> -->
        <v-row align="center" justify="center">
          <v-col class="pa-0" cols="3" >
     <v-card
          elevation="4" outlined  
          class="mx-auto white" 
          @click="open_dashboardRoom()"
          max-width="250"
          style="
            border-radius: 25px;
          "
        >
          <v-row align="center" justify="center">
            <v-col class="mt-2" cols="6" align="left">
              <v-icon class="ml-5" color="blue"  x-large>
                mdi-robot-vacuum
              </v-icon>
            </v-col>
            <v-col class="mt-2" cols="6" align="right">
              <v-icon class="mr-5" color="red" large
                >mdi-dots-vertical-circle-outline</v-icon
              >
            </v-col>
          </v-row>
          <v-divider class="mx-8" dark inset></v-divider>
          <v-row align="center" justify="center">
            <v-col cols="12">
              <v-card-title

                class="pa-0 ml-6 black--text font-weight-black"
                style="font-size: x-large"
                >DEMO ROOM</v-card-title
              >
              <v-card-titl class="pa-0 ml-6 grey--text font-weight-black"  
                >ROOM</v-card-titl
              >
            </v-col>
          </v-row>
        </v-card>
          </v-col>
           <v-col cols="3" v-for="items in 19" :key="items">
                 <v-card
                 @click="open_dashboardRoom()"
            elevation="6" 
          class="mx-auto"
          max-width="250"
          style="
            background-image: linear-gradient(to right, #4747d1, #7070db);
            border-radius: 25px;
          "
        >
          <v-row align="center" justify="center">
            <v-col class="mt-2" cols="12" align="left">
              <v-icon class="ml-5" color="white" x-large>
                mdi-circle-slice-7
              </v-icon>
            </v-col>
         
          </v-row>
          <v-divider class="mx-8 white" inset></v-divider>
          <v-row align="center" justify="center">
            <v-col cols="6">
              <v-card-title
                class="pa-0 ml-5 white--text font-weight-black"
                style="font-size: xx-large"
                >402</v-card-title
              >
              <v-card-titl class="pa-0 ml-6 white--text font-weight-black"
                >ROOM</v-card-titl
              >
            </v-col>
               <v-col class="mt-2" cols="6" align="right">
              <v-icon class="mr-5" color="orange" large
                >mdi-delete-circle-outline</v-icon
              >
            </v-col>
          </v-row>
        </v-card>
           </v-col>
        </v-row>
    
    </v-container>

  </div>
</template>

<script>

export default {
  name: "ListRoom",
  components: {
  },
  data: () => ({}),
  mounteds(){
    
  },
  methods: {
      open_dashboardRoom(){
         this.$router.push("/DashboardRoom");
      }

  }
};
</script>
<style>
</style>