<template>
  <div class="bg_background">
    <v-container class="fill-height" fluid>
      <v-row justify="center" align="center">
        <v-col cols="6" sm="8" md="7">
          <v-hover v-slot="{ hover }" close-delay="200">
            <v-card
              style="border-radius: 30px 30px 30px 30px; background-color: white"
              :elevation="hover ? 16 : 2"
              :class="{ 'on-hover': hover }"
            >
              <v-row align="center" justify="center">
                <v-col
                  cols="6"
                  sm="6"
                  md="5"
                  class="bg_test"
                  style="border-radius: 30px 0px 0px 30px"
                >
                  <v-row style="margin: 15%" align="center" justify="center">
                    <v-col align="center" style="">
                      <div slot="media">
                        <v-img
                          max-width="60%"
                          style="
                            position: relative;
                            margin-top: 15%;
                            margin-bottom: 15%;
                            z-index: 2;
                          "
                          src="../assets/image/compare.png"
                        ></v-img>
                      </div>

                      <br />
                      <p
                        class="headline indig--text font-weight-medium"
                        color="primary"
                        style="font-family: sukhumvit_setlight"
                      >
                        Symposium-IoT
                      </p>
                      <v-divider class="mx-3 blue"></v-divider>
                      <br />
                    </v-col>
                  </v-row>
                </v-col>
                <v-divider class="mx-3 blue" vertical inset></v-divider>
                <v-col
                  color="blue"
                  cols="6"
                  sm="8"
                  md="6"
                  justify="center"
                  style="border-radius: 0px 30px 30px 0px"
                  align="center"
                >
                  <p
                    class="display-2  font-weight-bold blue--text"
                    style="font-family: sukhumvit_setlight"
                  >
                    Sign in
                  </p>
                  <v-divider class="mx-10 mt-12 blue" inset></v-divider>
                  <br />
                  <v-card-text>
                    <v-form @submit.prevent="validate_login()">
                      <v-text-field
                        v-model="username"
                        color="blue lighten-1"
                        label="Username"
                        name="Username"
                        prepend-inner-icon="mdi-account"
                        type="text"
                        filled
                        rounded
                      ></v-text-field>

                      <v-text-field
                        v-model="password"
                        color="blue lighten-1"
                        filled
                        rounded
                        label="Password"
                        name="password"
                        prepend-inner-icon="mdi-lock"
                        type="password"
                      ></v-text-field>

                      <br />
                      <div class="text-center">
                        <v-btn
                          block
                          rounded
                          :loading="loading"
                          
                          color="primary"
                          type="submit"
                          dark
                          v-on:click="validate_login()"
                          >Login</v-btn
                        >
                      </div>
                    </v-form>
                  </v-card-text>
                </v-col>
              </v-row>
            </v-card>
          </v-hover>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
import Swal from "sweetalert2";
export default {
  name: "Login",
  components: {},
  data() {
    return {
      username: undefined,
      password: undefined,
      loading: false,
    };
  },
  methods: {
   validate_login() {
      if (this.username === undefined || this.password === undefined) {
        Swal.fire({
          icon: "error",
          title: "Error",
          text: "Please check username and password!",
        });
      } 
      else if(this.username === "admin" || this.password === "admin"){
          this.button_login();
      }
      else {
         Swal.fire({
          icon: "error",
          title: "Error",
          text: "error",
        });
      }
    },
    button_login() {
      this.save_username_login();
      this.$router.push("/ListRoom");
    },
    save_username_login() {
      var username_login = this.username;
      window.localStorage.setItem("username_login", JSON.stringify(username_login));
    },
  },
};
</script>

<style>
.radius {
  border-radius: 10px 100px / 120px;
}
.pointer {
  cursor: pointer;
}
</style>