<template>
  <div>
    <v-app-bar class="px-0 mx-0 white" height="70%" app >
      <v-card-actions
        class="ml-3"
        style="justify-content: right; width: 18%"
        row
        wrap
      >
        <v-img
          max-width="22%"
          style="justify-content: "
          src="@/assets/image/compare.png"
        ></v-img>
        <!-- <v-icon size="64px" color="white">mdi-chart-pie </v-icon> -->
        <v-card-title
          class="dark--text"
          style="width: 210px; font-size: x-large"
          >Symposium IoT</v-card-title
        >
      </v-card-actions>
      <v-divider color="" class="mx-4" inset vertical></v-divider>
      <v-tabs class="ml-5" color="">
        <v-tab @click="all_device()" style="border-radius: 30px">
          <v-icon left large> mdi-home-circle-outline </v-icon>
          Home Page
        </v-tab>
        <v-spacer></v-spacer>
      </v-tabs>

      <v-spacer></v-spacer>

      <v-card-actions style="justify-content: center" row wrap width="5%">
        <v-tooltip bottom>
          <template v-slot:activator="{ on }">
            <v-avatar color="orange">
              <span class="white--text headline" v-on="on">J</span>
            </v-avatar>
          </template>
          <span>{{ this.user_login }}</span>
        </v-tooltip>
      </v-card-actions>
      <v-card-text
        class="ml-3 pa-0 font-weight-bold truncate_username_navber"
        style="width: 200px; font-size: large"
      >
        <span class="" style="font-size: large"> Hi,</span>&nbsp;
        <span class="blue--text ml-3" style="font-size: large">{{
          this.username_login
        }}</span>
      </v-card-text>
      <v-divider class="mx-2" inset vertical></v-divider>
      <v-card-actions
        style="justify-content: center; border-radius: 30px"
        row
        wrap
        width="5%"
      >
        <v-menu
          style="z-index: 33"
          offset-y
          :close-on-content-click="closeOnContentClick"
          rounded
        >
          <template v-slot:activator="{ on, attrs }">
            <v-icon color="black" large v-bind="attrs" v-on="on"
              >mdi-arrow-down-drop-circle-outline</v-icon
            >
          </template>
          <v-list>
            <v-list-item>
              <v-btn
                class="ml-1 mr-1 mt-3 mb-1 font-weight-black"
                depressed
                large
                color="error"
              >
                Sign out <v-icon class="ml-2">mdi-arrow-right-bold</v-icon>
              </v-btn>
            </v-list-item>
          </v-list>
        </v-menu>
      </v-card-actions>
    </v-app-bar>

    <router-view></router-view>
    <Footer ref="Footer" class="Footer"></Footer>
  </div>
</template>

<script>
import Footer from "../views/Footer.vue";
import ListRoom from "@/views/ListRoom.vue";
export default {
  components: {
    Footer,
    ListRoom,
  },
  data: () => ({
    fab: false,
    direction: "top",
    username_login: "",
    menuVisible: false,
    transition: "slide-y-reverse-transition",
    switch_dark_mode: false,
    switch_Language: false,
    closeOnContentClick: false,
    // items: [
    //   { icon: " "  ,title: " " },
    // ],
  }),
  created() {
    this.get_user_login();
  },
  methods: {
    toggleMenu() {
      this.menuVisible = !this.menuVisible;
    },
    all_device() {
      this.$router.push("/ListRoom");
    },
    switch_DarkMode() {},
    logout() {
      this.$router.push("/login");
    },
    get_user_login() {
      let data = JSON.parse(window.localStorage.getItem("username_login"));
      // console.log(data)
      if (data === null) {
        this.username_login = "";
      } else {
        this.username_login = data;
      }
    },
  },
};
</script>

<style lang="scss" scoped>
#create .v-speed-dial {
  position: absolute;
}

#create .v-btn--floating {
  position: relative;
}
.md-app {
  min-height: 350px;
  border: 1px solid rgba(#000, 0.12);
}

// Demo purposes only
.md-drawer {
  width: 230px;
  max-width: calc(100vw - 125px);
}

.underline {
  text-decoration: underline;
}

.backgroud_Plug {
  background-color: #ffd9d8;
}

.border {
  border-color: #ffd9d8;
}

.csslogout {
  align-content: start;
  justify-content: space-between;
}
</style>