<template>
  <div>
    <v-row align="center" justify="center">
      <v-col class="" cols="7">
        <v-card class="mx-auto pt-3 pb-3" outlined style="border-radius: 25px">
          <v-row class="mt-5" align="center" justify="center">
            <v-col class="pa-0" cols="3" align="left">
              <v-card-text class="pl-12 indigo--text font-weight-bold body-2" > Chart type : </v-card-text>
            </v-col>
            <v-col class="pa-0" cols="9" align="left">
              <a-select
                show-search
                placeholder="Scatter"
                option-filter-prop="children"
                style="width: 250px"
                :filter-option="filterOption"
                @focus="handleFocus"
                @blur="handleBlur"
                @change="handleChange"
              >
                <a-select-option value="Scatter"> Scatter </a-select-option>
                <a-select-option value="Linechart"> Line chart </a-select-option>
                <a-select-option value="Trend"> Trend </a-select-option>
              </a-select>
            </v-col>
          </v-row>

          <v-row class="pa-0 mt-5" align="center" justify="center">
            <v-col class="pa-0 " cols="3" align="left">
              <v-card-text class="pl-12 indigo--text font-weight-bold body-2"> Parameter 1 : </v-card-text>
            </v-col>
            <v-col class="pa-0" cols="3" align="left">
               <a-select
                show-search
                placeholder="temp"
                option-filter-prop="children"
                style="width: 150px"
                :filter-option="filterOption"
                @focus="handleFocus"
                @blur="handleBlur"
                @change="handleChange"
              >
                <a-select-option value="temp"> temp </a-select-option>
                <a-select-option value="humidity">humidity </a-select-option>
              </a-select>
            </v-col>
            <v-col class="pa-0" cols="3" align="right">
              <v-card-text class="pl-12 indigo--text font-weight-bold body-2"> Parameter 2 : </v-card-text>
            </v-col>
            <v-col class="pa-0" cols="3" align="left">
              <a-select
                show-search
                placeholder="humidity"
                option-filter-prop="children"
                style="width: 150px"
                :filter-option="filterOption"
                @focus="handleFocus"
                @blur="handleBlur"
                @change="handleChange"
              >
            <a-select-option value="temp"> temp </a-select-option>
                <a-select-option value="humidity">humidity </a-select-option>
                <a-select-option value="Trend"> hide </a-select-option>
              </a-select>
            </v-col>
          </v-row>

          <v-row class="pa-0 mt-5" align="center" justify="center">
            <v-col class="pa-0" cols="4" align="left">
              <v-card-text class="pl-12 indigo--text font-weight-bold body-2">Pick start & end date</v-card-text>
            </v-col>
            <v-col class="pa-0" cols="8" align="left">
              <v-icon class="ml-2 mr-3">mdi-calendar-search</v-icon>

              <a-range-picker
                :show-time="{ format: 'HH:mm:ss' }"
                format="YYYY-MM-DD HH:mm:ss"
                :placeholder="['Start Time', 'End Time']"
                @change="onChange"
                @ok="onOk"
              />
            </v-col>
          </v-row>

          <v-row class="pb-0 mt-3" align="center" justify="center">
            <v-col class="pa-0" cols="3" align="left">
              <v-card-text class="pl-12 indigo--text font-weight-bold body-2"> Limit: </v-card-text>
            </v-col>
            <v-col class="pa-0" cols="3" align="left">

             <a-input-number :min="1" :max="100000" :default-value="5000" style="width: 100px" @change="onChange" />
            </v-col>
            <v-col class="pa-0" cols="3" align="right">
              <v-card-text class="indigo--text font-weight-bold body-2">Offset : </v-card-text>
            </v-col>
            <v-col class="pa-0" cols="3" align="left">
                          <a-input-number :min="0" :max="100000" :default-value="0" style="width: 100px" @change="onChange" />

            </v-col>
          </v-row>
          <v-row class="pb-0" align="center" justify="center">
            <v-col class="pb-0 pt-0 mt-8" cols="12" align="center" >
                <v-card-text class="indigo--text font-weight-bold body-2">Cannot read property 'length' of undefined</v-card-text>
            </v-col>
          </v-row>
          
        </v-card>
      </v-col>
      <v-col cols="5">
        <v-card class="mx-auto" outlined style="border-radius: 25px">
          <v-container>
            <ColumnCharts ref="ColumnCharts"></ColumnCharts>
          </v-container>
          
        </v-card>
      </v-col>
    </v-row>

    <v-row align="center" justify="center" >
      <v-col>
        <v-card class="mx-auto" outlined style="border-radius: 25px">
          <v-container>
          <div id="chart">
            
            <apexchart
              type="line"
              height="350"
              :options="chartOptions"
              :series="series"
            ></apexchart>
          </div>
          </v-container>
        </v-card>
      </v-col>
    </v-row>
  </div>
</template>

<script>
import ColumnCharts from "@/components/Section1/ColumnCharts.vue";
export default {
  name: "ListRoom",
  components: {
    ColumnCharts,
  },
  data: () => ({
    series: [
      {
        name: "Temp (C)",
        type: "line",
        data: [23, 22, 25, 26, 21, 22, 23],
      },
      {
        name: "Humidity (%)",
        type: "line",
        data: [75, 85, 20, 70, 75, 89, 85],
      },
    ],
    chartOptions: {
      chart: {
        height: 350,
        type: "line",
      },
      stroke: {
        width: [0, 4],
      },
      title: {
        text: "Room 316 @phuket",
      },
      dataLabels: {
        enabled: true,
        enabledOnSeries: [1],
      },
      labels: [
        "03:00 AM",
        "06:00 AM",
        "09:00 AM",
        "12:00 PM",
        "03:00 PM",
        "06:00 PM",
        "09:00 PM",
      ],
      xaxis: {
        type: "time",
      },
      yaxis: [
        {
          title: {
            text: "Temp",
          },
        },
        {
          opposite: true,
          title: {
            text: "Humidity",
          },
        },
      ],
    },
  }),
  methods:{
     handleChange(value) {
      console.log(`selected ${value}`);
    },
    handleBlur() {
      console.log('blur');
    },
    handleFocus() {
      console.log('focus');
    },
    filterOption(input, option) {
      return (
        option.componentOptions.children[0].text.toLowerCase().indexOf(input.toLowerCase()) >= 0
      );
    },
  }
};
</script>
<style>
</style>