<template>
  <div>
    <v-row align="center" justify="center">
      <v-col>
        <a-table
          class="px-12 mb-10 font-weight-bold"
          :pagination="false"
          :data-source="data_Section4"
          bordered
        >
          <a-table-column key="Parameter" data-index="Parameter" width="300px">
            <span
              slot="title"
              class="indigo--text font-weight-bold body-2"
              style="color: #1890ff"
              >Parameter</span
            >
          </a-table-column>
          <a-table-column key="Status" data-index="Status" width="200px">
            <span
              slot="title"
              class="indigo--text font-weight-bold body-2"
              style="color: #1890ff"
              >Status</span
            >
          </a-table-column>
        </a-table>
      </v-col>
    </v-row>
  </div>
</template>

<script>
const data_Section4 = [
  {
    key: "1",
    Parameter: "Relay1",
    Status: "opened",
  },
  {
    key: "2",
    Parameter: "Relay2",
    Status: "opened",
  },
  {
    key: "3",
    Parameter: "Relay3",
    Status: "opened",
  },

  {
    key: "4",
    Parameter: "Relay4",
    Status: "opened",
  },
  {
    key: "5",
    Parameter: "Relay5",
    Status: "opened",
  },
  {
    key: "6",
    Parameter: "Relay6",
    Status: "opened",
  },
  {
    key: "7",
    Parameter: "Relay7",
    Status: "opened",
  },
  {
    key: "8",
    Parameter: "Relay8",
    Status: "opened",
  },
  {
    key: "9",
    Parameter: "Key Card",
    Status: "key card inserted",
  },
  {
    key: "10",
    Parameter: "Magnetic door sensor",
    Status: "door closed",
  },
  {
    key: "11",
    Parameter: "Motion1",
    Status: "motion not detected",
  },
  {
    key: "12",
    Parameter: "Motion2",
    Status: "motion not detected",
  },
  {
    key: "13",
    Parameter: "Motion3",
    Status: "motion not detected",
  },
  {
    key: "14",
    Parameter: "Motion4",
    Status: "motion not detected",
  },
  {
    key: "15",
    Parameter: "Motion5",
    Status: "motion not detected",
  },
  {
    key: "16",
    Parameter: "RCU Status",
    Status: "RCU power supply ok",
  },
  {
    key: "17",
    Parameter: "Welcome mode",
    Status: "off",
  },
  {
    key: "18",
    Parameter: "Active mode",
    Status: "yes",
  },
  {
    key: "19",
    Parameter: "Work mode",
    Status: "yes",
  },
  {
    key: "20",
    Parameter: "Off mode",
    Status: "no",
  },
];
export default {
  name: "ListRoom",
  components: {},
  data: () => ({
    data_Section4,
  }),
};
</script>
<style>
</style>