<template>
  <div>
    <v-row class="pa-0" align="center" justify="center">
      <v-col class="pb-0 pt-0" cols="12">
        <v-card outlined style="border-radius: 25px">
          <v-row class="mt-3" align="center" justify="center">
            <v-col class="pl-2" cols="4" align="left">
              <a-select
                show-search
                placeholder="Main Board ID"
                option-filter-prop="children"
                style="width: 300px"
                :filter-option="filterOption"
                @focus="handleFocus"
                @blur="handleBlur"
                @change="handleChange"
              >
               <a-select-option v-for="items in data_select" :key="items.key">
                    {{items.text}}
                  </a-select-option>
              </a-select>
            </v-col>
            <v-col cols="4" class="" style="">
              <v-row class="" align="center" justify="center">
                <v-col class="pa-0" cols="4" align="left">
                  <v-card-text class="indigo--text font-weight-bold body-2">
                    Set to :
                  </v-card-text>
                </v-col>
                <v-col class="pa-0" cols="8" align="left">
                  <a-input-number
                    :min="0"
                    :max="100000"
                    :default-value="0"
                    style="width: 200px"
                    @change="onChange"
                  />
                </v-col>
              </v-row>
            </v-col>
            <v-col cols="3" style="">
              <v-btn
                class="white--text"
                tile
                color="blue"
                width="120px"
                style="border-radius: 10px"
              >
                <v-icon left color="white"> mdi-cog-sync </v-icon>
                Set
              </v-btn>
            </v-col>
          </v-row>
            <a-table
          class="px-12 mb-10 mt-3 font-weight-bold"
          :pagination="false"
          :data-source="data_Section3"
          bordered
        >
          <a-table-column key="Parameter" data-index="Parameter" width="300px">
            <span
              slot="title"
              class="indigo--text font-weight-bold body-2"
              style="color: #1890ff"
              >Parameter</span
            >
          </a-table-column>
          <a-table-column key="value" data-index="value" width="200px">
            <span
              slot="title"
              class="indigo--text font-weight-bold body-2"
              style="color: #1890ff"
              >value</span
            >
          </a-table-column>
        </a-table>
          <Section4tablestatus ref="Section4tablestatus"></Section4tablestatus>
        </v-card>
      </v-col>
    </v-row>
  </div>
</template>

<script>
import Section4tablestatus from "@/components/Section4_table_status.vue";

const data_Section3 = [
  {
    key: "1",
    Parameter: "Main Board ID",
    value: "5",
    columnWidth:"170"
  },
  {
    key: "2",
    Parameter: "Fanspeed",
    value: "3",
  },
  {
    key: "3",
    Parameter: "Temp set point",
    value: "24",
  },
  {
    key: "4",
    Parameter: "Temp read",
    value: "24",
  },
  {
    key: "5",
    Parameter: "Temp read point",
    value: "24",
  },
  {
    key: "6",
    Parameter: "Humidity readt",
    value: "24",
  },
  {
    key: "7",
    Parameter: "Humidity read point",
    value: "24",
  },
  {
    key: "8",
    Parameter: "C-Temperature calibration",
    value: "24",
  },
  {
    key: "9",
    Parameter: "Fi-Fanspeed insert card",
    value: "24",
  },
  {
    key: "10",
    Parameter: "Ti-Temperature insert card",
    value: "24",
  },
  {
    key: "11",
    Parameter: "Fo-Fan speed remove card",
    value: "24",
  },
  {
    key: "12",
    Parameter: "To-Temperature remove card",
    value: "24",
  },
  {
    key: "13",
    Parameter: "Tu-Temperature set max",
    value: "24",
  },
  {
    key: "14",
    Parameter: "Td-Temperature set min",
    value: "16",
  },
  {
    key: "15",
    Parameter: "O.-Timer fan turn on",
    value: "14",
  },
  {
    key: "16",
    Parameter: "C.-Timer fan turn off",
    value: "65",
  },
  {
    key: "17",
    Parameter: "Co-Card delay removed",
    value: "45",
  },
  {
    key: "18",
    Parameter: "Op-Option out",
    value: "2",
  },
  {
    key: "19",
    Parameter: "Sh-Show display",
    value: "1",
  },
  {
    key: "20",
    Parameter: "d-Motion time checking",
    value: "5",
  },
  {
    key: "21",
    Parameter: "Li-Temperature limit",
    value: "22",
  },
  {
    key: "22",
    Parameter: "En-Timer for entry door",
    value: "60",
  },
  {
    key: "23",
    Parameter: "Hd-Humidity min",
    value: "40",
  },
  {
    key: "24",
    Parameter: "Hu-Humidity max",
    value: "80",
  },
  {
    key: "25",
    Parameter: "H1-Function humidity min",
    value: "1",
  },
  {
    key: "26",
    Parameter: "H2-Function humidity max",
    value: "2",
  },
  {
    key: "27",
    Parameter: "H-Humidity calibration",
    value: "0",
  },
];

export default {
  name: "ListRoom",
  components: {
    Section4tablestatus,
  },
  data: () => ({
    data_Section3,
    data_select:[
      {
    key: "1",
    text: "Main Board ID",
  
  },
  {
    key: "2",
    text: "Fanspeed",
  
  },
  {
    key: "3",
    text: "Temp set point",
   
  },
  {
    key: "4",
    text: "Temp read",
    
  },
  {
    key: "5",
    text: "Temp read point",
  
  },
  {
    key: "6",
    text: "Humidity readt",
 
  },
  {
    key: "7",
    text: "Humidity read point",
 
  },
  {
    key: "8",
    text: "C-Temperature calibration",
  
  },
  {
    key: "9",
    text: "Fi-Fanspeed insert card",
 
  },
  {
    key: "10",
    text: "Ti-Temperature insert card",
  
  },
  {
    key: "11",
    text: "Fo-Fan speed remove card",
   
  },
  {
    key: "12",
    text: "To-Temperature remove card",
   
  },
  {
    key: "13",
    text: "Tu-Temperature set max",
 
  },
  {
    key: "14",
    text: "Td-Temperature set min",
 
  },
  {
    key: "15",
    text: "O.-Timer fan turn on",
   
  },
  {
    key: "16",
    text: "C.-Timer fan turn off",
    
  },
  {
    key: "17",
    text: "Co-Card delay removed",
  
  },
  {
    key: "18",
    text: "Op-Option out",
   
  },
  {
    key: "19",
    text: "Sh-Show display",
    
  },
  {
    key: "20",
    text: "d-Motion time checking",
    
  },
  {
    key: "21",
    text: "Li-Temperature limit",
   
  },
  {
    key: "22",
    text: "En-Timer for entry door",
   
  },
  {
    key: "23",
    text: "Hd-Humidity min",
    
  },
  {
    key: "24",
    text: "Hu-Humidity max",
    
  },
  {
    key: "25",
    text: "H1-Function humidity min",
   
  },
  {
    key: "26",
    text: "H2-Function humidity max",
    
  },
  {
    key: "27",
    text: "H-Humidity calibration",
   
  },
    ]
  }),
};
</script>
<style>
</style>