<template>
  <v-app style="background-color:#f2f2f2">  
  <v-content>
          <router-view></router-view>
    </v-content>
         <v-btn
      v-scroll="onScroll"
      fab
      dark
      class="mb-3"
      v-show="fab"
      fixed
      bottom
      right
      color="#4747d1"
      @click="toTop"
      v-if="showToTopBtn"
    >
      <v-icon color="white">mdi-chevron-up</v-icon>
    </v-btn>
  </v-app>
</template>

<script>

export default {
  name: 'App',

  components: {
   
  },

  data: () => ({
      showToTopBtn: false,
    fab: false,
  }),
    watch: {
    "$route.fullPath"(value) {
      // console.log(value);
      if (value == "/Homepage") {
        this.showToTopBtn = false;
      } else {
        this.showToTopBtn = true;
      }
    },
  },
    methods: {
    onScroll(e) {
      if (typeof window === "undefined") return;
      const top = window.pageYOffset || e.target.scrollTop || 0;
      this.fab = top > 25;
    },
    toTop() {
      this.$vuetify.goTo(0);
    },
  },
};
</script>
